---
import Section from "../Section.astro"

import { education as education_es, courses as courses_es, certifications as certifications_es } from "@cv"
import { education as education_en, courses as courses_en, certifications as certifications_en } from "@cv_en"
---

<Section id="education" class="educaction">
  <h2 data-lang-content="es">Educación</h2>
  <h2 data-lang-content="en">Education</h2>

  <ul id="institution_list" data-lang-content="es">
    {
      education_es.map(({ institution, startDate, endDate, area, studyType, logo}) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`
        return (
          <li class="institution-item">
            <article>
              <header>
                <div class="header_school">
                  <span class="school_item_image"><img src={logo} alt={institution}></span>
                  <div>
                    <h3>{institution}</h3>
                    <p><span>{studyType}</span> en {area}</p>
                  </div>
                </div>
                <time>{years}</time>
              </header>
              <footer></footer>
            </article>
          </li>
        )
      })
    }
  </ul>

  <ul id="institution_list_en" data-lang-content="en">
    {
      education_en.map(({ institution, startDate, endDate, area, studyType, logo}) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear = endDate != null ? new Date(endDate).getFullYear() : "Present"
        const years = `${startYear} - ${endYear}`
        return (
          <li class="institution-item">
            <article>
              <header>
                <div class="header_school">
                  <span class="school_item_image"><img src={logo} alt={institution}></span>
                  <div>
                    <h3>{institution}</h3>
                    <p><span>{studyType}</span> in {area}</p>
                  </div>
                </div>
                <time>{years}</time>
              </header>
              <footer></footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<Section id="courses" class="education">
  <h2 data-lang-content="es">Certificados y Cursos</h2>
  <h2 data-lang-content="en">Certifications & Courses</h2>

  <ul id="courses_list" data-lang-content="es">
    {
      courses_es.map(({ courseName, institution, date, url}) => {
        return (
          <li class="course_item">
            <article>
              <header>
                <h3>{courseName}</h3>
                <time>{date}</time>
              </header>
              <footer>
                <p><a href={url} title={courseName} target="_blank">{institution}</a></p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>

  <ul id="courses_list_en" data-lang-content="en">
    {
      courses_en.map(({ courseName, institution, date, url}) => {
        return (
          <li class="course_item">
            <article>
              <header>
                <h3>{courseName}</h3>
                <time>{date}</time>
              </header>
              <footer>
                <p><a href={url} title={courseName} target="_blank">{institution}</a></p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>

  <ul id="certifications_list" data-lang-content="es">
    {
      certifications_es.map(({ name, date, issuer, license, url}) => {
        return (
          <li class="certification_item">
            <article>
              <header>
                <h3>{name}</h3>
                <time>{date}</time>
              </header>
              <footer>
                <p><a href={url} title={name} target="_blank">{issuer}</a> <span>{license}</span></p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>

  <ul id="certifications_list_en" data-lang-content="en">
    {
      certifications_en.map(({ name, date, issuer, license, url}) => {
        return (
          <li class="certification_item">
            <article>
              <header>
                <h3>{name}</h3>
                <time>{date}</time>
              </header>
              <footer>
                <p><a href={url} title={name} target="_blank">{issuer}</a> <span>{license}</span></p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>