---
import { basics as basics_es } from "@cv"
import { basics as basics_en } from "@cv_en"
import Section from "@/components/Section.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/github.astro"
import WorldMap from "@/icons/WorldMap.astro"
import type { SocialIcon } from "@/types"

const SOCIAL_ICONS: SocialIcon = { GitHub, LinkedIn, X }
const { name, image, profiles, phone, email } = basics_es
const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url
const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---
<Section id="hero">
  <div class="container">
    <div class="info">
      <h1>{name}</h1>

      <h2 data-lang-content="es">{basics_es.label}</h2>
      <h2 data-lang-content="en">{basics_en.label}</h2>

      <span>
        <WorldMap />
        <span data-lang-content="es">{basics_es.location.city}, {basics_es.location.region}</span>
        <span data-lang-content="en">{basics_en.location.city}, {basics_en.location.region}</span>
      </span>

      <footer class="print">{printInfo}</footer>
      <footer class="no-print">
        {email && (
          <a href={`mailto:${email}`} title={`Email ${name}`} target="_blank" rel="noopener noreferrer">
            <Mail />
          </a>
        )}
        {phone && (
          <a href={`tel:${phone}`} title={`Call ${name}`} target="_blank" rel="noopener noreferrer">
            <Phone />
          </a>
        )}
        {profiles.map(({ network, url }) => {
          const Icon = SOCIAL_ICONS[network]
          return (
            <a href={url} title={`${name} on ${network}`} target="_blank" rel="noopener noreferrer">
              <Icon />
            </a>
          )
        })}
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>